@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor00: #5B3114;
    --cor01: #ffbc17;
}
img{
    border-radius: 100%;
    
}
a{
    text-decoration: none;
}
h1{
    color: white;
    font-size: 70px;
}
h2{
    color: white;
    font-size: 60px;
    font-weight: lighter;
    padding: 7px;
}
p{
    color: white;
    font-size: light ;
    font-weight: 100;
    padding: 7px;
}
.pag01{
    background-color: var(--cor00);
    text-align: center;
    padding: 100px 100px;
    

}
button {
    margin-top: 20px;
    padding: 15px;
    width: 230px;
    border: none;
    font-weight: bold;
    background-color: #ffbc17;

}
button a{
    color: black;
}
.botao2{
    background-color: var(--cor00);
    
}
.botao2 a {
    color: white;
}

.navbar ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor01);
    padding: 30px;
    font-weight: bold;
}
.navbar a{
    color: black;
    text-decoration: none;
}
.navbar a:hover{
    color: var(--cor00);
}

.pag02{
    background-image: url(https://i.ibb.co/vcZXTjz/003.jpg
    );
    padding: 100px 100px;

}
.pag02 p{
    min-width: none;
    max-width: 500px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 30px;
}